<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>Mongodb Nodejs....</title>
</head>
<body>
    <form action="./contact.ejs" method="post">
        <input type="text" placeholder="Email" name="Email">
        <input type="text" placeholder="Query" name="Query">
        <button type="submit">SUBMIT</button>
    </form>
    
</body>
</html>